<mat-card fxLayoutAlign="center center">
    <mat-card-content>
        <form fxLayout="column" [formGroup]="userForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" type="email" formControlName="email">
            </mat-form-field>
            <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger">Email es un campo requerido</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="email.errors?.pattern" class="text-danger">Porfavor Ingresa un correo valido</small>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Primer Nombre</mat-label>
                <input matInput placeholder="Placeholder" type="text" autocomplete="off" formControlName="firstName">
            </mat-form-field>
            <div *ngIf="(firstName.invalid && firstName.touched) || firstName.dirty">
                <small *ngIf="firstName.errors?.required" class="text-danger">Nombre es un campo requerido</small>
                <!--question mark(?) is a safe navigation operator-->
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Placeholder" type="text" autocomplete="off" formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Asignar Test</mat-label>
                <mat-select formControlName="test">
                    <mat-option>Clear</mat-option>
                    <mat-option  *ngFor="let test of tests" value="test.id">{{test.name}}</mat-option>
                   
                  </mat-select>
            </mat-form-field>
            <div fxLayout="row">
                <button mat-raised-button mat-dialog-close [disabled]="!userForm.valid" (click)="updateCandidate()"
                    color="primary">Actualizar</button>
                <button mat-raised-button mat-dialog-close
                    color="warn">Cancelar</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>