<div class="row">
  <div class="column">
    <div class="row">
      <mat-card-subtitle class="column">Lista de candidatos</mat-card-subtitle>
      <button class="column add" mat-raised-button color="accent" [routerLink]="['/recruiter/add-user']"
        aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
        Registrar candidato
      </button>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <button class="column" mat-raised-button color="accent" [routerLink]="['/recruiter/test']"
        aria-label="Example icon button with a delete icon">
        <mat-icon>edit</mat-icon>
        Revisar Pruebas Tecnicas
      </button>
      <div class="column"></div>

    </div>
  </div>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. juan" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Nombre. </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="userEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Acciones </th>

    <td class="text-center" mat-cell *matCellDef="let row">
      <button mat-button (click)="openDialog(row)">EDIT</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>