.example-card {
  margin: 40px;
  max-width: 400px;
}


mat-form-field{

    width: 75%;
}

mat-card-content{
    margin-top: 20px;
 text-align: center;
}

mat-card-actions{
    text-align: center;
    button{
        width: 70%;
    }
}

.card_img{
    border-radius: 5px;
    background-color: #eee;
    padding: 5;
    margin-bottom: 10px;
}
.body{
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}